<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{ post.title }}</h1>
      <button routerLink="/" class="btn btn-link">{{ 'buttons.back' | translate }}</button>
    </div>

    <div class="info">
      <strong>{{ post.author }}</strong>
      <small>{{'post-actions.common.createdAt'| translate}} {{post.createdAt | date:'dd.MM.yyyy HH:mm' }}</small>
      <small>{{'post-actions.common.updatedAt'| translate}} {{post.updatedAt | date:'dd.MM.yyyy HH:mm' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post.description"></quill-view-html>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">{{'loading' | translate}}</p>
</ng-template>
