<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>{{'creation.home-title' | translate}}</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}"
  >

    <label for="title">{{'post-actions.common.name.title' | translate}}</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('title')?.errors?.['required']">
        {{'post-actions.common.name.placeholder' | translate}}
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>{{'post-actions.create.content.title' | translate}}</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author')?.touched && form.get('author')?.invalid}"
  >
    <label for="author">{{'post-actions.create.author.title' | translate}}</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.get('author')?.touched && form.get('author')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('author')?.errors?.['required']">
        {{'post-actions.create.author.placeholder' | translate}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >{{'creation.buttons.create' | translate}}</button>
</form>
