<div class="card">
  <div class="card-header">
    <h2>{{ post.title }}</h2>
    <div class="card-timestamps">
      <small>{{'post-actions.common.createdAt'| translate}} {{post.createdAt | date:'dd.MM.yyyy HH:mm' }}</small>
      <small>{{'post-actions.common.updatedAt'| translate}} {{post.updatedAt | date:'dd.MM.yyyy HH:mm' }}</small>
    </div>
  </div>

  <div>
    <small>{{ post.author }}</small>
  </div>

  <button
    [routerLink]="['/post', post._id]"
    class="btn btn-dark"
  >{{'buttons.open' | translate}}</button>
</div>
