<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>{{'login.home-title' | translate}}</h2>


  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{ error | translate }}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{ message | translate }}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
  >
    <label for="email">{{'login.fields.email.title' | translate}}</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('email')?.errors?.['required']">
        {{'login.fields.email.placeholder' | translate}}
      </small>
      <small *ngIf="form.get('email')?.errors?.['email']">
        {{'login.errors.invalid-email' | translate}}
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}"
  >
    <label for="password">{{'login.fields.password.title' | translate}}</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
    >
      <small *ngIf="form.get('password')?.errors?.['required']">
        {{'login.fields.password.placeholder' | translate}}
      </small>
      <small *ngIf="form.get('password')?.errors?.['minlength']">
        {{passwordErrors}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >{{'buttons.log-in' | translate}}</button>
</form>
