<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="{{'home.search' | translate}}" [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>{{'home.header.author' | translate}}</th>
      <th>{{'home.header.title' | translate}}</th>
      <th>{{'home.header.date' | translate}}</th>
      <th>{{'home.header.action' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | searchPosts:searchStr; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>
        <div><small>{{'post-actions.common.createdAt'| translate}} {{post.createdAt | date:'MMM d, y, h:mm:ss a' }}</small></div>
        <div><small>{{'post-actions.common.updatedAt'| translate}} {{post.updatedAt | date:'MMM d, y, h:mm:ss a' }}</small></div>
      </td>

      <td>
        <button
          class="btn btn-link open"
          [routerLink]="['/admin', 'post', post._id, 'edit']"
        >
          {{'buttons.open' | translate}}
        </button>
        <a (click)="remove(post._id!)">{{'buttons.delete' | translate}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<ng-template #loading>
  <p class="text-center">{{'loading' | translate}}</p>
</ng-template>
